* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#snake-field {
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 56%, rgba(252,176,69,1) 100%);
  border: 1px solid rgba(253,29,29,1);
  width: 500px;
  height: 500px;
}

table {
	width: 400px;
	height: 400px;
	background: lightgrey;
	margin-top: 45px;
	margin-left: 45px;
}

#snake-start, 
#snake-renew {
  width: 100px;
  padding: 15px;
  color: white;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 56%, rgba(252,176,69,1) 100%);
  text-align: center;
  cursor: pointer;
  float: left;
  margin-right: 20px;
  border-radius: 5px;
}

#snake-start:hover, 
#snake-renew:hover {
  background: rgb(236,173,201);
  background: radial-gradient(circle, rgba(236,173,201,1) 26%, rgba(223,20,130,1) 78%);
}

.game-table {
  border-collapse: collapse;
}

td.game-table-cell {
  width: 15px;
  height: 15px;
  border: 1px dotted rgba(131,58,180,1);
  border-collapse: collapse;
}

.snake-unit {
  background: white;
}

.food-unit {
  background: red;
}

.barrier-unit {
	background: royalblue;
}

#score {
	width: 200px;
	height: 40px;
	background: rgba(131,58,180,1);
  color: ivory;
  margin: 20px auto;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

